
GP/ROS/catkin_ws/src/L_service/.vscode/browse.vc.db
*.db-shm
*.db-wal
*.json
*.db
# C extensions
*.so

# pycharm
IRP/.idea/
IRP/Code/wandb

# jupyter checkpoint
IRP/Code/Test/.ipynb_checkpoints/
IRP/Code/EDA/.ipynb_checkpoints/
Kaggle/.ipynb_checkpoints

IRP/Code/.idea/

IRP/FDRL/.idea/

Kaggle/HuBMAP/.idea/

Kaggle/HuBMAP/.ipynb_checkpoints/
*.ckpt
*.gz
Course/PL/MNIST/raw/t10k-images-idx3-ubyte
Course/PL/MNIST/raw/t10k-labels-idx1-ubyte
Course/PL/MNIST/raw/train-labels-idx1-ubyte
Course/PL/MNIST/raw/train-images-idx3-ubyte
